body {
    font-size: 20px;
    background-color: rgb(230, 206, 174);
    margin-left: 30px;
}

.destaque {
    border-top: 10px;
    border-bottom: solid 3px green;
}

.navega {
    color: #fff;
    background: tomato;
    box-shadow: 2px 2px 1px 1px #000;
}

.botao {
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 25px;
}

footer {
    margin-top: 120px;
}

.inputText {
    margin-bottom: 10px;
}